[packages]
ipython = "*"
jupyterlab = "*"
matplotlib = "*"
mkdocs = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pip = "*"
pytest = "*"
python-dotenv = "*"
ruff = "*"
scikit-learn = "*"
"cooking_seasonally" ={editable = true, path = "."}
bs4 = "*"
requests = "*"
selenium = "*"
webdriver_manager = "*"
ipykernel = "*"
pytz = "*"
spacy = "*"

[requires]
python_version = "3.12"

[dev-packages]
